.chat-main__message-list
  .chat-main__message-list__left-box
    .chat-main__message-list__left-box__name
      = message.user.name
    .chat-main__message-list__left-box__date-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__message
    - if message.content.present?
      %p.chat-main__message-list__message__content
        = message.content
    = image_tag message.image.url, class: 'chat-main__message-list__message__image' if message.image.present?