.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__btn
        = link_to "#" do
          = icon('fas', 'edit', class: "top-items__btn-group") 
        %span<>
        = link_to "#" do
          = icon('fas', 'cog', class: "top-items__btn-edit") 
        %span<>
  .side-bar__group-list
    .groups
      techcamp
    .message-box
      まだメッセージはありません